.App {
  text-align: center;
 

  height: 100%;

  margin-top: 2% ;
  margin-left: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainpage{width: 49%; float: left;}
.menu{width: 18%; float: left; margin: 0 auto;}
.profile{width: 26%; float: left;}
input{border-radius: 5px; float: right;}
.haveleftb{border-left: 2px solid yellow;}
p{direction: rtl;}
.iconp{width: 100px;height: 100px;}
.banerimg{width: 100%;height: 200px;}